# .NET Core
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.vscode/
.agent/
Prueba/
Thumbs.db
.DS_Store

# Docker
docker-compose.override.yml
