services:
  sqlserver:
    container_name: valuetech_sql
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=ValueTech_2024!
      - TZ=America/Santiago
    volumes:
      - sql_data_v2:/var/opt/mssql
    networks:
      - valuetech-net

  migrator:
    container_name: valuetech_migrator
    image: mcr.microsoft.com/mssql-tools:latest
    depends_on:
      - sqlserver
    volumes:
      - ./database/init-scripts:/scripts
    networks:
      - valuetech-net
    environment:
      - TZ=America/Santiago
    command: >
      /bin/bash -c "
      echo 'Esperando a SQL Server...';
      sleep 15;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d master -i /scripts/01-schema.sql;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d ValueTechDB -i /scripts/02-procedures.sql;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d ValueTechDB -i /scripts/03-seed-data.sql;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d ValueTechDB -i /scripts/04-seed-chile.sql;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d ValueTechDB -i /scripts/05-create-users.sql;
      /opt/mssql-tools/bin/sqlcmd -S valuetech_sql -U sa -P ValueTech_2024! -d ValueTechDB -i /scripts/06-create-audit.sql;
      "

  api:
    container_name: valuetech_api
    build:
      context: .
      dockerfile: ValueTech.Api/Dockerfile
      target: dev
    ports:
      - "5105:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=valuetech_sql;Database=ValueTechDB;User Id=sa;Password=ValueTech_2024!;TrustServerCertificate=True;
      - Authentication__ApiKey=ValueTech-Secret-Key-2026
      - ASPNETCORE_ENVIRONMENT=Development
      - TZ=America/Santiago
      - DOTNET_USE_POLLING_FILE_WATCHER=true
    volumes:
      - .:/src
    depends_on:
      - sqlserver
    networks:
      - valuetech-net

  web:
    container_name: valuetech_web
    build:
      context: .
      dockerfile: ValueTech.Web/Dockerfile
      target: dev
    ports:
      - "5000:8080"
    volumes:
      - keys_data:/app/keys
      - .:/src
    environment:
      - ApiBaseUrl=http://valuetech_api:8080
      - Authentication__ApiKey=ValueTech-Secret-Key-2026
      - ASPNETCORE_ENVIRONMENT=Development
      - TZ=America/Santiago
      - DOTNET_USE_POLLING_FILE_WATCHER=true
    depends_on:
      - api
    networks:
      - valuetech-net

networks:
  valuetech-net:
    driver: bridge

volumes:
  sql_data_v2:
  keys_data:
