@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Prueba Técnica ValueTech</h1>
    <p class="lead">Administración de regiones y comunas.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" asp-controller="Region" asp-action="Index" role="button">Ver Regiones</a>
</div>
